@using Microsoft.AspNetCore.Http

@model FuncionariosModel
@{
    <title>@ViewData["Title"] Cadastrar Funcionário</title>
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.6.0/css/glide.core.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.6.0/css/glide.theme.min.css" />
    <link rel="stylesheet" href="~/css/Funcionarios/cadastrar-funcionario.css">
</head>
<body>

    <div class="container ">
        <div class="progress mb-4" style="height:4vh;">
            <div class="progress-bar" role="progressbar" style="width: 30%;  background: linear-gradient(90deg, #8A2BE2, #FFA500); " aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">30%</div>
        </div>

        <form asp-controller="Funcionarios" asp-action="Cadastrar" method="post" id="formCompleto">
            <div id="step1" class="step">
                <h3>Etapa 1: Informações Pessoais</h3>
                <p class="text-muted mb-3" style="margin-top: 2vh;">Setor a ser atribuído: 
                    <select asp-for="SetorId" class="form-select" asp-items="ViewBag.Setores">
                        <option value="">Selecione</option>
                    </select>
                    <span asp-validation-for="SetorId" class="text-danger"></span>
                </p>

                <div class="box-input">
                    <div class="flex-input">
                        <div class="input-group mb-3">
                            <span class="input-group-text"
                                  data-bs-toggle="tooltip"
                                  data-bs-placement="top"
                                  data-bs-custom-class="custom-tooltip"
                                  data-bs-title="Nome Completo">
                                <i class="fas fa-user"></i>
                            </span>
                            <input asp-for="Nome" maxlength="100" class="form-control" placeholder="Nome" required />
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Data de Nascimento">
                                <i class="fa-regular fa-calendar"></i>
                            </span>
                            <input type="date" id="dataNascimento" class="form-control" placeholder="Data de Nascimento" required />
                        </div>
                    </div>
                    <div class="flex-input">
                        <div class="input-group mb-3">
                            <label class="input-group-text"
                                   data-bs-toggle="tooltip"
                                   data-bs-placement="top"
                                   data-bs-custom-class="custom-tooltip"
                                   data-bs-title="Selecione Sexo"
                                   for="Sexo">
                                <i class="fa-solid fa-venus-mars"></i>
                            </label>                            <select asp-for="Sexo" class="form-select">
                                <option value="">Selecione o Sexo</option>
                                <option value="F">Feminino</option>
                                <option value="M">Masculino</option>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text"
                                   data-bs-toggle="tooltip"
                                   data-bs-placement="top"
                                   data-bs-custom-class="custom-tooltip"
                                   data-bs-title="Selecione Raça"
                                   for="Raca">
                                <i class="fa-solid fa-users"></i>
                            </label>                            <select asp-for="Raca" class="form-select">
                                <option value="">Selecione a Raça</option>
                                <option value="1">Preto</option>
                                <option value="2">Branco</option>
                                <option value="3">Pardo</option>
                                <option value="4">Amarelo</option>
                                <option value="5">Indígena</option>
                            </select>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <label class="input-group-text"
                               data-bs-toggle="tooltip"
                               data-bs-placement="top"
                               data-bs-custom-class="custom-tooltip"
                               data-bs-title="Selecione Estado Civil"
                               for="EstadoCivil">
                            <i class="fa-solid fa-heart"></i>
                        </label>                        <select asp-for="EstadoCivil" class="form-select">
                            <option value="">Selecione o Estado Civil</option>
                            <option value="1">Solteiro</option>
                            <option value="2">Casado(a)</option>
                            <option value="3">Viúvo(a)</option>
                            <option value="4">Separado(a) Judicialmente</option>
                            <option value="6">Divorciado(a)</option>
                            <option value="7">União Estável</option>
                            <option value="8">Separado de Fato</option>
                        </select>
                    </div>
                    <div class="flex-input">
                        <div class="input-group mb-3">
                            <span class="input-group-text"
                                  data-bs-toggle="tooltip"
                                  data-bs-placement="top"
                                  data-bs-custom-class="custom-tooltip"
                                  data-bs-title="Nome da Mãe">
                                <i class="fas fa-user"></i>
                            </span>
                            <input asp-for="NomeMae" maxlength="100" class="form-control" placeholder="Nome Mãe" required />
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text"
                                  data-bs-toggle="tooltip"
                                  data-bs-placement="top"
                                  data-bs-custom-class="custom-tooltip"
                                  data-bs-title="Naturalidade">
                                <i class="fa-solid fa-location-dot"></i>
                            </span>
                            <input asp-for="Naturalidade" maxlength="100" class="form-control" placeholder="Naturalidade" required />
                        </div>
                    </div>

                    <div class="form-example">
                        <label for="Confirmacao">Atenção:</label>
                        <p>Revise as informações inseridas antes de concluir.</p>
                    </div><br />

                    <button type="button" class="btn btn-step-primary" id="next1" onclick="nextStep(2)">Próxima Etapa</button>
                </div>

            </div>

            <div id="step2" class="step" style="display: none;">
                <h3>Etapa 2: Informações Adicionais</h3>

                <div class="box-input">
                    <div class="input-group mb-3">
                        <span class="input-group-text"
                              data-bs-toggle="tooltip"
                              data-bs-placement="top"
                              data-bs-custom-class="custom-tooltip"
                              data-bs-title="Informe o Endereço">
                            <i class="fa-solid fa-location-dot"></i>
                        </span>
                        <input asp-for="Endereco" maxlength="100" class="form-control" placeholder="Endereço" required />
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text"
                              data-bs-toggle="tooltip"
                              data-bs-placement="top"
                              data-bs-custom-class="custom-tooltip"
                              data-bs-title="Cidade de Residencia">
                            <i class="fa-solid fa-location-dot"></i>
                        </span>
                        <input asp-for="CidadeResidencia" maxlength="100" class="form-control" placeholder="Cidade de Residência" required />
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text"
                              data-bs-toggle="tooltip"
                              data-bs-placement="top"
                              data-bs-custom-class="custom-tooltip"
                              data-bs-title="Informe o E-mail">
                            <i class="fas fa-envelope"></i>
                        </span>
                        <input type="email" asp-for="Email" maxlength="100" class="form-control" placeholder="E-mail" required />
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text"
                              data-bs-toggle="tooltip"
                              data-bs-placement="top"
                              data-bs-custom-class="custom-tooltip"
                              data-bs-title="Informe o Celular">
                            <i class="fa-solid fa-phone"></i>
                        </span>
                        <input type="tel" asp-for="Celular" id="telefone" maxlength="15" class="form-control" placeholder="(00) 00000-0000" required />
                    </div>
                    <div class="form-example">
                        <label for="Confirmacao">Atenção:</label>
                        <p>Revise as informações inseridas antes de concluir.</p>
                    </div><br />

                    <button type="button" class="btn btn-step-secundario" id="prev2" onclick="prevStep(1)">Retornar Etapa</button>
                    <button type="button" class="btn btn-step-primary" id="next2" onclick="nextStep(3)">Próxima Etapa</button>
                </div>

            </div>

            <div id="step3" class="step" style="display: none;">
                <h3>Etapa 3: Informações Finais</h3>

                    <!-- Campo oculto real, que será enviado -->
                    <input type="hidden" asp-for="Cargo" id="cargoFinal" />

                    <!-- Select para menores de idade -->
                    <div id="selectCargoGroup" class="d-none">
                        <select id="cargoSelect" class="form-select">
                            <option value="">Selecione o cargo</option>
                            <option value="Jovem Aprendiz">Jovem Aprendiz</option>
                            <option value="Estágio">Estágio</option>
                            <!-- outros cargos -->
                        </select>
                    </div>

                    <!-- Input para maiores de idade -->
                    <div id="inputCargoGroup" class="d-none">
                        <input type="text" id="cargoInput" class="form-control" placeholder="Informe o cargo" />
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text"
                              data-bs-toggle="tooltip"
                              data-bs-placement="top"
                              data-bs-title="Informe o Salário.">
                            <i class="fa-solid fa-brazilian-real-sign"></i>
                        </span>
                        <input asp-for="Salario" maxlength="100" class="form-control" placeholder="Salário" required />
                    </div>
                    <div class="input-group mb-3 grupo-ingresso">
                        <span class="input-group-text"
                              data-bs-toggle="tooltip"
                              data-bs-placement="top"
                              data-bs-title="Informe a Data Ingresso.">
                            <i class="fa-regular fa-calendar"></i>
                        </span>
                        <input type="date" asp-for="DataIngresso" id="dataIngresso" class="form-control dataIngresso" id="dataIngresso" placeholder="Data Ingresso" required />
                    </div>

                    <div class="input-group mb-3 grupo-ingresso">
                        <span class="input-group-text"
                              data-bs-toggle="tooltip"
                              data-bs-placement="top"
                              data-bs-title="Informe os Dias Trabalhados.">
                            <i class="fa-regular fa-calendar"></i>
                        </span>
                        <input type="number" asp-for="DiasTrabalhados" class="form-control diasTrabalhados" id="diasTrabalhados" placeholder="Dias Trabalhados" required readonly />
                    </div>
                    <input type="hidden" asp-for="Matricula" id="matriculaHidden" />

                    <div class="form-example">
                        <label for="Confirmacao">Confirmação:</label>
                        <p>Revise as informações inseridas antes de concluir.</p>
                    </div><br />

                    <button type="button" class="btn btn-step-secundario" id="prev3" onclick="prevStep(2)">Retornar Etapa</button>
                    <button type="submit" class="btn btn-success">Cadastrar Funcionário</button>
                </div>
        </form>
    </div>

    <script src="~/js/Funcionarios/setores-funcionarios.js"></script>
    <script>
        function updateProgressBar(step) {
            const progressBar = document.querySelector('.progress-bar');
            let progress = 0;

            if (step === 1) {
                progress = 30;
            } else if (step === 2) {
                progress = 60;
            } else if (step === 3) {
                progress = 90;
            } else if (step === 4) {
                progress = 100;
            }

            progressBar.style.width = progress + '%';
            progressBar.setAttribute('aria-valuenow', progress);
            progressBar.textContent = progress + '%';
        }

        function nextStep(step) {
            document.getElementById('step' + (step - 1)).style.display = 'none';
            document.getElementById('step' + step).style.display = 'block';
            updateProgressBar(step);
        }

        function prevStep(step) {
            document.getElementById('step' + (step + 1)).style.display = 'none';
            document.getElementById('step' + step).style.display = 'block';
            updateProgressBar(step);
        }
          document.addEventListener('DOMContentLoaded', function () {
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            tooltipTriggerList.forEach(function (tooltipTriggerEl) {
                new bootstrap.Tooltip(tooltipTriggerEl)
            })
        });
    </script>

</body>
</html>