@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<link href="~/css/Componentes/Titulo-Primario/TituloPrimario.css" rel="stylesheet" />

@{
    string texto = ViewData["Texto"]?.ToString() ?? "Título Primário";
    string classeExtra = ViewData["ClasseExtra"]?.ToString() ?? "";
}
<h1 class="titulo-primario @classeExtra">@Html.Raw(texto)</h1>