body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.titulo-meusdados {
    text-align: start;
    font-size: 2.2rem;
    font-weight: 400;
    position: relative;
    background: linear-gradient(90deg, #8A2BE2, #FFA500);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Montserrat", sans-serif;
}
.titulo-meusdados:before {
        content: "";
        position: absolute;
        bottom: 0;
        height: .3vh;
        width: 20%;
        background-color: #FFA500;
    }

.flex-sessao-meus-dados {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 2vw !important;
}
.subox-meus-dados{
    width: 100%;
    height:auto;
    background-color: white;
    border-radius: 1vw;

}
.flex-inputs-meus-dados{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
}
.flex-imagem-meus-dados{
    display:flex;
    justify-content:center;
    align-items:flex-end;
}
.flex-imagem-meus-dados img {
    height: 50vh;
}
.flex-botao-meusdados{
    padding: 2vh;
    background-color: black;
    margin:0;
}
.flex-cabecalho-meusdados {
    width: 100%;
    height: 10vh;
    background: linear-gradient(90deg,#8A2BE2, #FFA500);
}
.div-onda-meusdados {
    width: 100%;
    height: 5vh;
    background-color: white;
    position: relative;
}
.div-onda-meusdados::after{
    content: "";
    position:absolute;
    width: 5%;
    height: 5vh;
    top: 0;
    right:0;
    background-color: white;
    border-top-right-radius: 10vw;
}

.div-onda-meusdados::before {
position: absolute;
content: "";
top: 0;
right: 0;
width: 5%;
height: 5vh;
background: #FFA500;
}
.card-body {
    display:flex;
    justify-content:center;
    align-items:flex-start;
    flex-direction:column;
    padding: 2vw !important;
}
.botao-editar{
    font-weight: normal !important;
}