@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tchá Com Back</title>
    <link rel="stylesheet" href="~/css/LandingPage/landingPage.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="~/js/LandingPage/landingPage.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.6.0/glide.min.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.6.0/css/glide.core.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.6.0/css/glide.theme.min.css" />
</head>
<body>
    <div class="cabecalho-box-one" id="cabecalho-box-one">
        <div class="menu-desktop">
            <img style="height: 13vh;" src="~/img/logotcb.png" alt="Alternate Text" />
            <nav class="cabecalho-barra-navegacao">
                <div class="flex-links-cabecalho">
                    <a id="home-navegacao"> Home</a>
                    <a id="servico-navegacao">Serviços</a>
                    <a id="sobrenos-navegacao">Sobre Nós</a>
                    <a id="contatos-navegacao">Contatos</a>
                </div>
                <div class="flex-botao-cabecalho">
                    <partial name="~/Views/Componentes/Botao-Primario/BotaoPrimario.cshtml"
                             view-data=@(new ViewDataDictionary(ViewData){
                             { "Texto", "Entrar" },
                             { "Url", "/Login" },
                             { "ClasseExtra", "" },
                             { "Id", "" },
                             { "Elemento", "a"}
                             }) />
                </div>
            </nav>
        </div>
        <div class="menu-hamburger">
            <h2>TCB</h2>
            <partial name="~/Views/Componentes/Menu-Hamburger/MenuHamburguer.cshtml" />
        </div>
    </div>
    <div id="rolagem-animação">
        <div id="principal-rolagem-animação">
            <div class="invólucro-paralaxe">
                <header class="cabecalho" id="home-sessao">
                    <div class="flex-cabecalho">
                        <div class="cabecalho-box-two">
                            <div class="flex-conteudo-box-two animar-com-scroll">
                                <partial name="~/Views/Componentes/Titulo-Quaternario/TituloQuaternario.cshtml" view-data=@(new ViewDataDictionary(ViewData){
                                         { "Texto", "TcháComBack" },
                                         { "ClasseExtra", "animar-com-scroll " }
                                         }) />
                                <partial name="~/Views/Componentes/Paragrafo-Primario/ParagrafoPrimario.cshtml" view-data=@(new ViewDataDictionary(ViewData){
                                         { "Texto", " Centralize os <strong>dados</strong> da sua <strong>equipe</strong>, organize informações essenciais e tenha tudo àmão para <strong>decisões mais eficientes!.</strong> " },
                                         { "ClasseExtra", "" }
                                         }) />
                                <div class="flex-botoes-box-two">
                                    <partial name="~/Views/Componentes/Botao-Primario/BotaoPrimario.cshtml"
                                             view-data=@(new ViewDataDictionary(ViewData)
                                             {
                                             { "Texto", "Cadastrar-se" },
                                             { "Url", "/Usuarios/Cadastrar" },
                                             { "ClasseExtra", "botao-cadastrar" },
                                             { "Id", "btn-cadastrar" },
                                             { "Elemento", "a"}
                                             }) />
                                    <partial name="~/Views/Componentes/Botao-Secundario/BotaoSecundario.cshtml"
                                             view-data=@(new ViewDataDictionary(ViewData)
                                             {
                                             { "Texto", "Entrar" },
                                             { "Url", "/Login" },
                                             { "ClasseExtra", "" },
                                             { "Id", "" },
                                             { "Elemento", "a"}
                                             }) />
                                </div>
                            </div>
                            <div class="flex-imagem-box-two">
                            </div>
                        </div>
                    </div>
                </header>
                <section class="conteúdo">
                    <div class="flex-conteúdos">
                        <div class="conteúdo-box-one" id="servico-sessao">
                            <div class="conteúdo-title-box-one">
                                <partial name="~/Views/Componentes/Titulo-Terceario/TituloTerceario.cshtml" view-data=@(new ViewDataDictionary(ViewData){
                                         { "Texto", "Explore <span>Nossos Serviços</span>" },
                                         { "ClasseExtra", "animar-com-scroll " }
                                         }) />
                            </div>
                            <div class="flex-cards-servicos">
                                <partial name="~/Views/Componentes/Card-Servicos/CardServicos.cshtml"
                                         view-data=@(new ViewDataDictionary(ViewData)
                                         {
                                         { "ImagemUrl", "~/img/group.png" },
                                         { "Titulo", "Desenvolvimento de Talentos" },
                                         { "Descricao", "Potencialize o sucesso da sua empresa com nosso sistema de RH, transformando <strong>dados em decisões estratégicas</strong> para <strong>atrair, capacitar e reter talentos</strong>. Com relatórios precisos e eficientes, você alcança <strong>resultados extraordinários</strong>. Clique agora e impulse sua gestão!" },
                                         { "BotaoTexto", "Saiba Mais" },
                                         { "BotaoUrl", "#" },
                                         { "BotaoClasseExtra", "btn-extra" },
                                         { "BotaoId", "desenvolvimento-navegacao" },
                                         { "BotaoElemento", "a" }
                                         }) />
                                <partial name="~/Views/Componentes/Card-Servicos/CardServicos.cshtml"
                                         view-data=@(new ViewDataDictionary(ViewData)
                                         {
                                         { "ImagemUrl", "~/img/data-server.png" },
                                         { "Titulo", "Gestão de Dados" },
                                         { "Descricao", "Descubra como nossos dados de RH podem transformar a <strong>gestão da sua empresa .</strong> Com uma plataforma robusta e segura , você acessa informações precisas para tomar <strong>decisões estratégicas, otimizar processos e reduzir erros </strong>. Clique agora e impulse sua gestão!" },
                                         { "BotaoTexto", "Saiba Mais" },
                                         { "BotaoUrl", "#" },
                                         { "BotaoClasseExtra", "btn-extra" },
                                         { "BotaoId", "gestaodados-navegacao" },
                                         { "BotaoElemento", "a" }
                                         }) />
                                <partial name="~/Views/Componentes/Card-Servicos/CardServicos.cshtml"
                                         view-data=@(new ViewDataDictionary(ViewData)
                                         {
                                         { "ImagemUrl", "~/img/analysis.png" },
                                         { "Titulo", "Relatórios Pesonalizados" },
                                         { "Descricao", "Decisões assertivas começam com <strong>clareza</strong> e <strong>transparência</strong>. Nosso serviço de relatórios oferece <strong>dashboards dinâmicos</strong> e <strong>insights visuais</strong> que simplificam dados complexos. Monitore <strong>métricas-chave em tempo real</strong>. Clique agora e e impulse sua gestão!" },
                                         { "BotaoTexto", "Saiba Mais" },
                                         { "BotaoUrl", "#" },
                                         { "BotaoClasseExtra", "btn-extra" },
                                         { "BotaoId", "relatorios-navegacao" },
                                         { "BotaoElemento", "a" }
                                         }) />
                            </div>
                        </div>
                        <div class="conteúdo-box-two">
                            <div class="flex-card-servicos-detalhado-right" id="desenvolvimento-sessao">
                                <div class="box-card-servicos-detalhado-one">
                                    <partial name="~/Views/Componentes/Titulo-Secundario/TituloSecundario.cshtml" view-data=@(new ViewDataDictionary(ViewData){
                                             { "Texto", "Potencialize Sua Gestão de Pessoas com Dados e Estratégia" },
                                             { "ClasseExtra", "animar-com-scroll" }
                                             }) />
                                    <partial name="~/Views/Componentes/Paragrafo-Primario/ParagrafoPrimario.cshtml" view-data=@(new ViewDataDictionary(ViewData){
                                             { "Texto", " A gestão de pessoas é mais <strong>estratégica</strong> com nosso sistema de RH, que oferece <strong>dashboards personalizados</strong> e <strong>insights em tempo real</strong>. Identifique <strong>lacunas</strong>, aplique <strong>treinamentos</strong> e acompanhe a <strong>evolução</strong> da equipe." },
                                             { "ClasseExtra", "paragrafo-black" }
                                             }) />
                                    <partial name="~/Views/Componentes/Paragrafo-Primario/ParagrafoPrimario.cshtml" view-data=@(new ViewDataDictionary(ViewData){
                                             { "Texto", " Com mentoring e avaliações contínua, alinhamos profissionais às <strong>metas organizacionais</strong>, criando uma equipe <strong>engajada</strong> e <strong>produtiva</strong> para impulsionar o <strong>sucesso</strong> do seu negócio." },
                                             { "ClasseExtra", "paragrafo-black" }
                                             }) />
                                    <partial name="~/Views/Componentes/Botao-Primario/BotaoPrimario.cshtml"
                                             view-data=@(new ViewDataDictionary(ViewData)
                                             {
                                             { "Texto", "Impulsione Agora!" },
                                             { "Url", "/login" },
                                             { "ClasseExtra", "" },
                                             { "Id", "" },
                                             { "Elemento", "a"}
                                             }) />
                                </div>
                                <div class="box-card-servicos-detalhado-two">
                                </div>
                            </div>
                            <div class="flex-card-servicos-detalhado-left" id="gestaodados-sessao">
                                <div class="box-card-servicos-detalhado-one-left">
                                    <partial name="~/Views/Componentes/Titulo-Secundario/TituloSecundario.cshtml" view-data=@(new ViewDataDictionary(ViewData){
                                             { "Texto", "Centralize e organize dados para decisões precisas e estratégicas" },
                                             { "ClasseExtra", "animar-com-scroll" }
                                             }) />
                                    <partial name="~/Views/Componentes/Paragrafo-Primario/ParagrafoPrimario.cshtml" view-data=@(new ViewDataDictionary(ViewData){
                                             { "Texto", "Uma estratégia de RH eficiente começa com <strong>dados precisos</strong>. Nossa plataforma robusta centraliza informações, desde <strong>registros básicos</strong> até <strong>indicadores avançados</strong>, garantindo decisões <strong>estratégicas</strong> com <strong>clareza</strong>." },
                                             { "ClasseExtra", "paragrafo-black" }
                                             }) />
                                    <partial name="~/Views/Componentes/Paragrafo-Primario/ParagrafoPrimario.cshtml" view-data=@(new ViewDataDictionary(ViewData){
                                             { "Texto", " Automatize processos, reduza <strong>erros manuais</strong> e foque no <strong>desenvolvimento</strong> e <strong>engajamento</strong>. Simplifique sua gestão, aumente a <strong>eficiência</strong> e <strong>impulsione resultados</strong>." },
                                             { "ClasseExtra", "paragrafo-black" }
                                             }) />
                                    <partial name="~/Views/Componentes/Botao-Primario/BotaoPrimario.cshtml"
                                             view-data=@(new ViewDataDictionary(ViewData)
                                             {
                                             { "Texto", "Impulsione Agora!" },
                                             { "Url", "/login" },
                                             { "ClasseExtra", "" },
                                             { "Id", "" },
                                             { "Elemento", "a"}
                                             }) />
                                </div>
                                <div class="box-card-servicos-detalhado-three-left">
                                </div>
                            </div>
                            <div class="flex-card-servicos-detalhado-right" id="relatorios-sessao">
                                <div class="box-card-servicos-detalhado-one">
                                    <partial name="~/Views/Componentes/Titulo-Secundario/TituloSecundario.cshtml" view-data=@(new ViewDataDictionary(ViewData){
                                             { "Texto", "Relatórios que Revelam Insights para Decisões Estratégicas" },
                                             { "ClasseExtra", "animar-com-scroll" }
                                             }) />
                                    <partial name="~/Views/Componentes/Paragrafo-Primario/ParagrafoPrimario.cshtml" view-data=@(new ViewDataDictionary(ViewData){
                                             { "Texto", " Tomar decisões assertivas depende de <strong>informações precisas</strong>. Nosso serviço de <strong>relatórios</strong> oferece <strong>dashboards dinâmicos</strong> e relatórios claros, transformando dados complexos em visualizações acessíveis. Monitore <strong>turnover</strong>, <strong>produtividade</strong> e <strong>engajamento</strong> em tempo real." },
                                             { "ClasseExtra", "paragrafo-black" }
                                             }) />
                                    <partial name="~/Views/Componentes/Paragrafo-Primario/ParagrafoPrimario.cshtml" view-data=@(new ViewDataDictionary(ViewData){
                                             { "Texto", " Tenha uma visão <strong>clara</strong> e <strong>transparente</strong> dos seus indicadores para garantir <strong>eficiência</strong> na gestão. Transforme dados em <strong>decisões estratégicas</strong> e leve sua empresa ao próximo nível." },
                                             { "ClasseExtra", "paragrafo-black" }
                                             }) />

                                    <partial name="~/Views/Componentes/Botao-Primario/BotaoPrimario.cshtml"
                                             view-data=@(new ViewDataDictionary(ViewData)
                                             {
                                             { "Texto", "Impulsione Agora!" },
                                             { "Url", "/login" },
                                             { "ClasseExtra", "" },
                                             { "Id", "" },
                                             { "Elemento", "a"}
                                             }) />
                                </div>
                                <div class="box-card-servicos-detalhado-for">
                                </div>
                            </div>
                        </div>
                        <div class="conteúdo-box-three" id="sobrenos-sessao">
                            <div class="conteúdo-onda-two"></div>
                            <div class="flex-conteúdo-box-three">
                                <div class="flex-sobre-nos-one">
                                    <div class="body-sobre-nos">
                                        <partial name="~/Views/Componentes/Titulo-Primario/TituloPrimario.cshtml" view-data=@(new ViewDataDictionary(ViewData){
                                                 { "Texto", "Sobre Nós" },
                                                 { "ClasseExtra", "animar-com-scroll" }
                                                 }) />
                                        <partial name="~/Views/Componentes/Paragrafo-Primario/ParagrafoPrimario.cshtml" view-data=@(new ViewDataDictionary(ViewData){
                                                 { "Texto", "Na TchaComBack, estamos redefinindo a gestão de recursos humanos com uma equipe entusiasmada e dedicada. Transformamos <strong>desafios de RH</strong> em <strong>oportunidades</strong> usando tecnologia inovadora. Nossa plataforma simplifica processos, oferece soluções <strong>inteligentes</strong> e potencializa a gestão de <strong>talentos</strong>. Junte-se à <strong>revolução no RH</strong> com a <strong>TchaComBack!</strong>" },
                                                 { "ClasseExtra", "" }
                                                 }) />

                                        <partial name="~/Views/Componentes/Botao-Primario/BotaoPrimario.cshtml"
                                                 view-data=@(new ViewDataDictionary(ViewData)
                                                 {
                                                 { "Texto", "Impulsione Agora!" },
                                                 { "Url", "https://wa.me/5565984152703?text=Vamos%20Tomar%20um%20Tcha!!%20,%20gostaria%20de%20mais%20informações%20sobre%20a%20TCB!" },
                                                 { "ClasseExtra", "Fale Conosco!" },
                                                 { "Id", "" },
                                                 { "Elemento", "a"}
                                                 }) />
                                    </div>
                                    <div class="body-imagem-equipe">
                                    </div>
                                </div>
                                <div class="flex-sobre-nos-two" id="contato-sessao">

                                    <partial name="~/Views/Componentes/Carrossel-Equipe/CarrosselEquipe.cshtml" view-data=@(new ViewDataDictionary(ViewData){
                                             { "Membros", new List<dynamic>
                                             {
                                             new { Imagem = "~/img/joaogabriel.jpg", Nome = "João Gabriel", Cargo = "Cientista de Dados" },
                                             new { Imagem = "~/img/joaomedrado.jpeg", Nome = "João Medrado", Cargo = "Desenvolvedor Front-end" },
                                             new { Imagem = "~/img/luiz.jpeg", Nome = "Luiz Armendro", Cargo = "Desenvolvedor Back-end" },
                                             new { Imagem = "~/img/bruno.jpg", Nome = "Bruno Alves", Cargo = "Desenvolvedor Front-end" },
                                             new { Imagem = "~/img/jorge.jpeg", Nome = "Jorge Luiz", Cargo = "Designer" },
                                             new { Imagem = "~/img/edivaldo.jpeg", Nome = "Edivaldo", Cargo = "Analista de Requisitos" },
                                             new { Imagem = "~/img/andrey.jpeg", Nome = "Andrey Calvacante", Cargo = "Analista de Requisitos" }
                                             }
                                             }
                                             }) />

                                    <div class="contato-box-one">
                                        <partial name="~/Views/Componentes/Titulo-Primario/TituloPrimario.cshtml" view-data=@(new ViewDataDictionary(ViewData){
                                                 { "Texto", "Vamos tomar um Tchá?" },
                                                 { "ClasseExtra", "animar-com-scroll" }
                                                 }) />

                                        <partial name="~/Views/Componentes/Paragrafo-Primario/ParagrafoPrimario.cshtml" view-data=@(new ViewDataDictionary(ViewData){
                                                 { "Texto", "Conheça a sua equipe e descubra como podemos ajudar você a <strong>impulsionar a gestão de recursos humanos</strong>. Entre em contato agora!" },
                                                 { "ClasseExtra", "" }
                                                 }) />
                                        <partial name="~/Views/Componentes/Botao-Primario/BotaoPrimario.cshtml"
                                                 view-data=@(new ViewDataDictionary(ViewData)
                                                 {
                                                 { "Texto", "Vamos Conversar!" },
                                                 { "Url", "https://wa.me/5565984152703?text=Vamos%20Tomar%20um%20Tcha!!%20,%20gostaria%20de%20mais%20informações%20sobre%20a%20TCB!" },
                                                 { "ClasseExtra", "Fale Conosco!" },
                                                 { "Id", "" },
                                                 { "Elemento", "a"}
                                                 }) />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="contato-box-two">
                            <div class="contato-box-two-principal">
                                <div class="contato-body">
                                    <div class="contato-body-box-one">
                                        <partial name="~/Views/Componentes/Titulo-Primario/TituloPrimario.cshtml" view-data=@(new ViewDataDictionary(ViewData){
                                                 { "Texto", "Prepare seu Tchá de Decisões Inteligentes!" },
                                                 { "ClasseExtra", "animar-com-scroll" }
                                                 }) />
                                        <partial name="~/Views/Componentes/Paragrafo-Primario/ParagrafoPrimario.cshtml" view-data=@(new ViewDataDictionary(ViewData){
                                                 { "Texto", " Não fique na <strong>fila do café</strong> enquanto sua equipe espera por decisões eficientes.Centralize <strong>seus dados, organize informações essenciais</strong> e tenha tudo na mão para impulsionar sua empresa rumo ao sucesso. Junte-se à revolução no <strong>RH com a TchaComBack!</strong>" },
                                                 { "ClasseExtra", "" }
                                                 }) />

                                        <partial name="~/Views/Componentes/Botao-Primario/BotaoPrimario.cshtml"
                                                 view-data=@(new ViewDataDictionary(ViewData)
                                                 {
                                                 { "Texto", "CADASTRE - SE AGORA!" },
                                                 { "Url", "/Usuarios/Cadastrar" },
                                                 { "ClasseExtra", "" },
                                                 { "Id", "" },
                                                 { "Elemento", "a"}
                                                 }) />
                                    </div>
                                    <div>
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3842.6791316414606!2d-56.10327522482623!3d-15.608783218412182!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x939db1efac8af70f%3A0x688cbb59c2540eb!2sFATEC%20SENAI%20MT%20-%20Faculdade%20de%20Tecnologia%20SENAI%20MT!5e0!3m2!1spt-BR!2sbr!4v1743537233288!5m2!1spt-BR!2sbr"
                                                width="600"
                                                height="450"
                                                style="border:0;"
                                                allowfullscreen=""
                                                loading="lazy"
                                                referrerpolicy="no-referrer-when-downgrade">
                                        </iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <footer>
                    <div class="footer-box-one">
                        <div class="footer-links">
                            <div class="footer-column">
                                <h4>Acessos Rápidos</h4>
                                <ul>
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">Serviços</a></li>
                                    <li><a href="#">Sobre Nós</a></li>
                                    <li><a href="#">Contato</a></li>
                                </ul>
                            </div>
                            <div class="footer-column">
                                <h4>Descubra Agora</h4>
                                <ul>
                                    <li><a href="/login">Entrar</a></li>
                                    <li><a href="/Usuarios/Cadastrar">Cadastrar-se</a></li>
                                    <li><a href="/login">Funcionários</a></li>
                                    <li><a href="/login">Dashboards</a></li>
                                </ul>
                            </div>
                            <div class="footer-column">
                                <h4>Ajuda</h4>
                                <ul>
                                    <li><a href="https://wa.me/5565984152703?text=Vamos%20Tomar%20um%20Tcha!!%20,%20gostaria%20de%20mais%20informações%20sobre%20a%20TCB!" target="_blank">Atendimento ao Cliente</a></li>
                                    <li><a href="#">Perguntas Frequentes</a></li>
                                    <li><a href="https://wa.me/5565984152703?text=Vamos%20Tomar%20um%20Tcha!!%20,%20gostaria%20de%20mais%20informações%20sobre%20a%20TCB!" target="_blank">Fale Conosco</a></li>
                                </ul>
                            </div>
                            <div class="footer-social">
                                <h4>Siga-nos</h4>
                                <div class="social-icons">
                                    <a href="#" aria-label="Facebook"><img src="~/img/facebook (2).png" alt="Facebook"></a>
                                    <a href="#" aria-label="Instagram"><img src="~/img/instagram (2).png" alt="Instagram"></a>
                                    <a href="#" aria-label="Whatsapp"><img src="~/img/whatsapp.png" alt="Whatsapp"></a>
                                    <a href="#" aria-label="LinkedIn"><img src="~/img/linkedin (1).png" alt="LinkedIn"></a>
                                </div>
                                <div class="footer-legal">
                                    <p>&copy; 2023 TchaComBack. Todos os direitos reservados.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</body>
</html>