@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Home/home.css">
<script src="~/js/Home/home.js" defer></script>

<section style="padding-top: 20vh;">
    @if (TempData["MensagemSucesso"] != null)
    {
        <div id="successAlert" class="custom-alert success">
            <span><strong>Sucesso!</strong> @TempData["MensagemSucesso"]</span>
            <span class="closebtn" onclick="closeAlert('successAlert')">&times;</span>
        </div>
        <script>
            setTimeout(() => {
                document.getElementById("successAlert").style.display = 'none';
            }, 5000);
        </script>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div id="errorAlert" class="custom-alert error">
            <span><strong>Atenção!</strong> @TempData["MensagemErro"]</span>
            <span class="closebtn" onclick="closeAlert('errorAlert')">&times;</span>
        </div>
        <script>
            setTimeout(() => {
                document.getElementById("errorAlert").style.display = 'none';
            }, 5000);
        </script>
    }

</section>
