

.custom-alert {
position: fixed;
top: 20px;
right: 20px;
z-index: 9999;
padding: 15px 25px;
border-radius: 8px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
font-family: 'Montserrat', sans-serif;
font-size: 14px;
display: flex;
align-items: center;
justify-content: space-between;
max-width: 350px;
animation: fadeIn 0.5s ease-in-out;
}

.custom-alert.success {
background-color: #d4edda;
color: #155724;
border: 1px solid #c3e6cb;
}

.custom-alert.error {
background-color: #f8d7da;
color: #721c24;
border: 1px solid #f5c6cb;
}

.custom-alert .closebtn {
cursor: pointer;
font-size: 18px;
margin-left: 15px;
transition: color 0.3s ease;
}

.custom-alert .closebtn:hover {
color: #000;
}
.home-nomebemvindo {
    background: linear-gradient(90deg, #8A2BE2, #FFA500);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
.container-home{
    display:flex;
    flex-direction:column;
    gap: 5vh;
    padding: 1.5vw;
}
.seja-bemvindo-home{
    display:flex;
    flex-direction:column;
    gap: 1vh;
}
.seja-bemvindo-home h1 {
    font-size: 1.5rem;
    font-weight: 500;
}
.seja-bemvindo-home p {
    font-size: 1rem;
    font-family: 'Montserrat'
}
.box-one-home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vw;
}


.sub-box-home {
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 1.2vw;
    background: #ffffff;
    box-shadow: 20px 20px 60px #d9d9d9, 20px 20px 60px #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5vh;
}
.sub-box-home h2{
text-align: start;
font-size: 1.1rem;
font-weight: 600;
color: black;
font-family: "Montserrat";
}

.box-two-home .sub-box-home canvas {
    width: 100%;
}

#idGraficoFuncionariosPorSexo{
    height: 40vh !important;
}
.btn-dash{
    padding: 1.2vh !important;
    font-weight: normal !important;
}

.flex-graficos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vw;

}
.card-destaque-box-one {
    background-color: #FFA500;
    width: 110% !important;
    height: auto;
    border-radius: 1.2vw;
    box-shadow: 20px 20px 60px #d9d9d9, 20px 20px 60px #ffffff;
}
.flex-card-horas-faltas {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-end;
    gap: 2vh;
}
.card-horas-faltas {
    width: 85%;
    padding: 4vh;
    background-color: black;
    border-radius: 1.2vw;
    box-shadow: 20px 20px 60px #d9d9d9, 20px 20px 60px #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.card-body{
    gap: 2vh;
    width: 100%;
}
.flex-card-body-text-one{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 1vw;
}
.flex-card-body-text-one i {
    font-size: 1.5vw;
    color: black
}
.flex-card-body-text-one h5{
    font-size: 1.1rem;
    color:white;
    font-family: "Montserrat";
    font-weight: 600;
}
.card-body p {
    font-size: 1.1rem;
    color: white;
}
.flex-icon-secondary {
    width: 3.5vw;
    height: 3.5vw;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-card-body-text-two{
    display:flex;
    flex-direction:column;
    margin-top: 1vh !important;
}
.negativo {
    color: red !important;
}
.positivo{
    color: lightgreen !important;
}
.destaque {
    background-color: #FFA500;
    border: none;
    width: 100%;
    display: flex;
    justify-content: flex-start
}
.flex-cabecalho-box-two {
    display: flex;
    flex-direction: column;
    gap: 1vh;

}
.card-destaque-box-one, .card-dias-trabalhados {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 2vh;
}
.card-dias-trabalhados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}


.flex-card-body-text-destaque{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1vw;
}
.flex-icon-destaque {
    width: 3.5vw;
    height: 3.5vw;
    background-color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-card-body-text-destaque i {
    font-size: 1.5vw;
    color: white;
}

.flex-card-body-text-destaque h5 {
    font-size: 1.1rem;
    color: black;
    font-family: "Montserrat";
    font-weight: 600;
}

.destaque p {
    font-size: 1.1rem;
    color: white;
}
.flex-card-body-text-destaque-two {
    display: flex;
    flex-direction: column
}
.flex-graficoDiasTrabalhados{
    width: 80%;
}
@keyframes fadeIn {
    from {
opacity: 0;
transform: translateY(-20px);
}

to {
opacity: 1;
transform: translateY(0);
}
}
@keyframes fadeOut {
from {
opacity: 1;
transform: translateY(0);
}

to {
opacity: 0;
transform: translateY(-20px);
}
}


@media (max-width: 1400px){
    .box-one-home .card-box-one {
        width: 100%;
        height: 22vh;
        border-radius: 10px;
        background-color: #ffffff;
        box-shadow: 10px 10px 50px #d9d9d9, -10px -10px 50px #ffffff;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        padding-top: 2vh;
        padding: 1vw;
    }

}

