
.titulo-categoria {
font-size: 2rem;
color: black;
font-family: 'Montserrat', sans-serif;
position: relative;
text-align: start;
margin-bottom: 2px;
}

.titulo-span {
margin-bottom: 20px;
font-style: italic;
color: gray;
font-size: 12px;
}

.titulo-categoria::after {
content: '';
display: block;
width: 5%;
height: 2px;
background-color: #FFA500;
position: absolute;
bottom: 0px;
left: .1%;
transform: translateX(-0%);
}

.carousel-container {
margin-top: 20px;
margin-bottom: 40px;
}

.glide__slides {
display: flex;
gap: 20px;
}

.glide__slide {
width: 100%;
margin: 0 auto;
}

.card-container {
position: relative;
background: #fff;
border-radius: 10px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
height: 70vh;
cursor: pointer;
overflow: hidden;
transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.card-container.sem-imagem {
background-color: black; /* Fundo preto para cards sem imagem */
}

.card-container::after {
content: "";
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 0;
background-color: rgba(0, 0, 0, 0.95);
transition: height 0.5s ease-in-out, transform 0.5s ease-in-out;
transform-origin: bottom center;
z-index: 1;
}

.card-container.sem-imagem::after {
display: none; /* Remove o efeito de ::after para cards sem imagem */
}

.card-container:hover::after {
height: 100%;
transform: scale(1.1);
}

.card-container:hover {
transform: scale(1.05);
z-index: 10;
}

.card-container.sem-imagem:hover {
transform: none;
z-index: 10;
}


.main-content {
position: absolute;
bottom: 0;
padding: 20px;
width: 100%;
height: 100%;
z-index: 2;
display: flex;
flex-direction: column;
justify-content: space-around;
opacity: 0;
transform: translateY(100%);
transition: opacity 0.4s ease, transform 0.4s ease;
}

.main-content.sem-imagem-content {
opacity: 1; /* Mantém o conteúdo visível para cards sem imagem */
transform: translateY(0); /* Remove o efeito de transição inicial */
}

.card-container:hover .main-content {
opacity: 1;
transform: translateY(0);
}

.main-content a {
text-decoration: none;
}

.main-content a h1 {
background: linear-gradient(90deg, #8A2BE2, #FFA500);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
width: 100%;
font-weight: bold;
font-family: "Bebas Neue", sans-serif;
text-transform: uppercase;
font-size: 2.2rem;
}

.main-content a h1:hover {
background: #FFA500;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.main-content p {
font-size: 1rem;
color: #ddd;
margin-bottom: 15px;
}
.main-content p:hover{
color:white;
cursor:pointer;
} 

.flex-botao-edition {
display: flex;
justify-content: flex-end;

}

.flex-botao-edition button {
border: none;
background-color: transparent;
color: white;
}

.flex-botao-edition button:hover {
background-color: transparent;
}



.mt-3 .rota-btn {
    text-decoration: none;
    color: #333;
    padding: 0.2rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    width: 100%;
}
.rota-btn:hover {
 background-color: #FFA500;
}


.close-btn {
position: absolute;
top: 0vh;
right: .2vw;
font-size: 1rem;
color: #888;
cursor: pointer;
text-decoration: none;
}

.custom-popover .close-btn:hover {
color: black;
}

.card-container .main-content .card-attribute {
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
}

.card-attribute img {
height: 7vh;
}

.card-attribute p {
font-size: 0.9rem;
color: #ddd;
}


.card-attribute .time-left {
display: flex;
justify-content: flex-end;
align-items: center;
width: 100%;
gap: 1vw;
}

.card-attribute .time-left p {
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
margin-top: 2vh;
}

.card-attribute .time-left p a {
background: linear-gradient(90deg, #8A2BE2, #FFA500 );
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
width: 100%;
font-weight: bold;
font-family: "Bebas Neue", sans-serif;
text-transform: uppercase;
text-decoration: none;
}

.glide__bullets {
position: relative;
top: 65vh;
}

.glide__bullet {
background-color: #ccc;
width: 10px;
height: 10px;
border-radius: 50%;
border: none;
cursor: pointer;
transition: background-color 0.3s ease;
}

.glide__bullet--active {
background-color: #FFA500 !important;
}

.glide__bullet:hover {
background-color: #999;
}

.glide__arrows {
position: absolute;
top: 50%;
width: 90%;
left: 5%;
display: flex;
justify-content: space-between;
transform: translateY(-50%);
z-index: 10;
}



.glide__arrow {
background-color: rgba(0, 0, 0, 0.5);
border: none;
color: white;
font-size: 20px;
padding: 10px;
cursor: pointer;
transition: background-color 0.3s ease;
}

.glide__arrow:hover {
background-color: rgba(0, 0, 0, 0.8);
}



.flex-input-group {
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 2vw;
justify-content: center;
align-items: center;
padding: .1vw;
}

.title-breve {
color: white;
}

.card-container.inativo {
border-top: 5px solid red;
}
.card-container.ativo {
border-top: 5px solid green;
}

.card-container.inativo .flex-botao-edition,
.card-container.inativo .flex-botao-edition * {
pointer-events: all !important;
z-index: 2;
position: relative;
}
.botao-saibamais-in {
color: white;
text-decoration: none;
font-family: "Roboto", sans-serif;
font-weight: bold;
cursor: pointer;
background: linear-gradient(90deg,#8A2BE2, #FFA500);
border-radius: .5vw;
padding: 1vh;
width: fit-content;
height:auto;
border: none;
text-align:center;
}
.corpo-modal-inativo{
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
.corpo-modal-inativo i{
font-size:4rem;
color: red;
}
.corpo-modal-inativo h2{
font-size: 1.5rem;
font-family: "Montserrat";
}
.btn-secundario {
background: black;
border-radius: .5vw;
border: 1px solid black;
color: white;
text-decoration: none;
width: fit-content
}

.btn-secundario:hover {
border: 1px solid black;
}

@media (max-width: 800px){
    .glide__slides {
        display: flex;
        gap: 0px;
    }

    .glide__bullets {
        position: relative;
        top: 84vh;
    }

    .glide__bullet {
        background-color: rgba(0,0,0,.5) !important;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .glide__bullet--active {
        background-color: #FFA500 !important;
    }

    .glide__bullet:hover {
        background-color: #999;
    }
    .card-container {
     
        height: 80vh;

    }
    .titulo-categoria::after {
       
        width: 15%;
    
    }

}