body, html, head {
background-color: black;
}

.sessao-setores {
width: 100%;
height: auto;
}

.flex-input-group {
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 2vw;
justify-content: center;
align-items: center;
padding: .1vw;
}

.flex-input-group .input-group {
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
width: 100%;
}

.filtro {
background-color: white;
border-radius: 5px;
transition: all 0.3s ease;
background: #fafafa;
display: flex;
flex-direction: column;
gap: 1vh;
}

.filtro h1 {

text-align: start;
font-size: 2.2rem;
font-weight: 400;
position: relative;
background: linear-gradient(90deg, #8A2BE2, #FFA500);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: "Bebas Neue", sans-serif;
}

.filtro h1:before {
content: "";
position: absolute;
bottom: 0;
height: .3vh;
width: 5%;
background-color: #FFA500;
}


.filtro-content {
max-height: 200px;
overflow: hidden;
transition: max-height 0.5s ease, opacity 0.5s ease;
opacity: 1;
display: flex;
justify-content: center;
align-items: center;
padding: .1vw;
}

.filtro.collapsed .filtro-content {
max-height: 0;
opacity: 0;
padding: 0;
}


#toggle-filtro-func {
position: absolute;
bottom: -5vh;
left: 50%;
transform: translateX(-50%);
background-color: #8A2BE2;
color: white;
border: none;
border-radius: 50%;
width: 40px;
height: 40px;
font-size: 1.5rem;
cursor: pointer;
transition: background-color 0.3s ease;
display: none;
transition: .2s ease-in-out;
}

#toggle-filtro-func:hover {
background-color: #FFA500;
}

.input-group {
color: black;
font-weight: 600;
}

.input-group div {
width: 100%;
}

.flex-input-two {
display: flex;
justify-content: center;
align-items: center;
gap: 1vw;
}

.flex-input-two button {
width: 20%;
}

.filtro.filtro-scroll-active {
background: #f9f9ff;
box-shadow: 5px 5px 20px #f2e9e9, -5px -5px 20px #ffffff;
top: 14vh;
}

.filtro.filtro-scroll-active #toggle-filtro-func {
display: block;
}

.filtro input:focus,
.filtro select:focus {
border-color: #8A2BE2;
box-shadow: 0 0 5px rgba(138, 43, 226, 0.5);
}

.btn-filtrar {
padding: 1vh !important;
margin-bottom: 1vh!important;
font-weight: normal !important;
}

.btn-filtrar:hover {
color: white
}
.btn-filtrar .icon-filter{
    width: 5%;
    height: 5%;
}

.botao-adicionar {
background-color: black;
border-radius: .4vw;
color: white;
font-family: "Montserrat", sans-serif;
cursor: pointer;
text-decoration: none;
text-align: center;
border: none;
width: fit-content;
padding: 1.2vh;
font-size: 1.5rem
}
.botao-adicionar span{
display:flex;
justify-content:center;
gap: .5vw;
font-size: 1rem;
}
.filtro.filtro-scroll-active .btn-filtrar {
background: linear-gradient(90deg, #8A2BE2, #FFA500);
}

.btn-fechar {
position: sticky;
bottom: 0;
color: white
}

.flex-sessao-funcionarios {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
flex-wrap:wrap;
gap: 10vh;
width: 100%;
height: 100%;
}

.flex-body-funcionarios {
display:grid;
grid-template-columns: repeat(3, 1fr);
justify-content:center;
flex-wrap:wrap;
gap: 2vw;
height: auto;
width:100%;
}
.flex-info-card-func-usu-per-log {
display: flex;
justify-content: flex-end;
flex-wrap: wrap;
gap: 5vw;
height: auto;
width: 100%;
padding-right: 2vw;
}



.flex-titulo-card-funcionarios {
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
height: 100%;
padding-left: 2vw;
padding-right: 2vw;
}

.flex-titulo-card-funcionarios .titulo-categoria {
text-align: start;
color: black;
font-family: "Montserrat";
font-size: 1.2rem;
position: relative;
}

.flex-titulo-card-funcionarios .titulo-categoria:after {
content: '';
display: block;
width: 20%;
height: 2px;
background-color: #FFA500;
position: absolute;
bottom: 0px;
left: .1%;
transform: translateX(-0%);
}

.flex-titulo-card-funcionarios p {
color: #FFA500;
font-weight: bold;
}

.card-funcionario {
width: 100%;
height: auto;
border-radius: 2vw;
background: #ffffff;
box-shadow: 10px 10px 50px #d9d9d9, -10px -10px 50px #ffffff;
display: flex;
justify-content: space-around;
align-items: center;
flex-direction: column;
gap: 5vh;
}

.card-funcionario:hover {
transform: translateY(-10px);
transition: .5s ease-in-out;
cursor: pointer;
}

.card-funcionario.ativo {
border-top: 1.5px solid green;
}

.card-funcionario.inativo {
border-top: 1.5px solid red;
}

.flex-body-card {
width: 100%;
height: 100%;
}

.flex-imagem-funcionario {
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
width:100%;
height: 100%;
padding: 1vh;
}

.flex-imagem-funcionario img {
width: 120px;
height: 120px;
border-radius: 50%;
border: 1px solid black;
display: flex;
justify-content: center;
align-items: center;
}

.flex-onda {
position: relative;
width: 100%;
top: 0vh;
right: 0;
width: 100%;
height: 5vh;
background-color: black;
}

.flex-onda:after {
content: "";
position: absolute;
top: 0vh;
left: 0;
width: 10%;
height: 20vh;
background-color: black;
border-top-left-radius: 10vw;
}

.flex-onda:before {
content: "";
position: absolute;
width: 100%;
top: 0vh;
left: 0;
width: 10%;
height: 10vh;
background-color: white;
}


.flex-onda-inativo {
position: relative;
width: 100%;
top: 0vh;
right: 0;
width: 100%;
height: 5vh;
background-color: rgba(0,0,0,0.8);
}

.flex-onda-inativo:after {
content: "";
position: absolute;
top: 0vh;
left: 0;
width: 10%;
height: 10vh;
background-color: rgba(0,0,0,0.8);
border-top-left-radius: 10vw;
}

.flex-onda-inativo:before {
content: "";
position: absolute;
width: 100%;
top: 0vh;
left: 0;
width: 10%;
height: 10vh;
background-color: white;
}
.body-card {
background-color: black;
width: 100%;
height: auto;
z-index: 2;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
flex-wrap: wrap;
gap: 5vh;
border-bottom-left-radius: 2vw;
border-bottom-right-radius: 2vw;
padding: 1.5vh;
}
.body-card-usu-log {
background-color: black;
width: 100%;
height: auto;
z-index: 2;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
flex-wrap: wrap;
gap: 8vh;
padding: 1.5vh;
padding-bottom: 4vh !important;
    
}
.card-footer {
background-color: #FFA500; 
width:100%;    
border-bottom-left-radius: 2vw !important; 
border-bottom-right-radius: 2vw !important;
display:flex;
justify-content:center;
align-items: center
}

.card-footer small{
color: rgba(0,0,0,0.8) !important;
}
.card-footer small strong {
color: #8A2BE2;
}
.body-card-inativo {
background-color: rgba(0,0,0,0.8);
width: 100%;
height: auto;
z-index: 2;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
flex-wrap: wrap;
gap: 5vh;
border-bottom-left-radius: 2vw;
border-bottom-right-radius: 2vw;
padding: 1.5vh;
}

.body-card p {
width: 80%;
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap:wrap;
color: #ccc;
}
.body-card-usu-log p {
width: 85%;
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
color: #ccc;
z-index:10
}
.body-card-inativo p {
width: 80%;
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
color: #ccc;
}

.card-dado {
color: white;
}

.body-card .btn-detalhar {
width: fit-content !important;
margin-bottom: 2vh;
}
.btn-detalhar-inativo {
width: fit-content !important;
margin-bottom: 2vh;
background-color: rgba(100, 0, 0, 1) !important;
}

.body-card .card-dado {
color: white;
}


.flex-mensagem-inativo {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
text-align: center;
margin-top: 10%
}

.box-mensegem-inativo {
width: 60%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
text-align: center;
gap: 2vh;
}

.box-mensegem-inativo h1 {
background: linear-gradient(90deg, #8A2BE2, #FFA500 );
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
width: 100%;
font-weight: bold;
font-family: "Bebas Neue", sans-serif;
text-transform: uppercase;
font-size: 3.5rem;
}

.box-mensegem-inativo p {
color: black;
font-family: "Montserrat"
}

.box-mensegem-inativo a {
color: white;
}

.botao-saibamais {
padding: 1.2vh !important;
}

.flex-info-card-func {
display: flex;
justify-content: flex-end;
flex-direction: column;
}

.p-func {
text-align: end;
}

.flex-status {
display: flex;
justify-content: flex-start;
align-items: center;
gap: 2vw;
}

.flex-status p {
display: flex;
justify-content: center;
align-items: center;
gap: .5vw;
}

.status {
color: black;
font-weight: normal;
font-family: "Montserrat"
}

.status-green {
background-color: green;
width: .8vw;
height: 1.9vh;
border-radius: 100%;
}

.status-red {
background-color: red;
width: .8vw;
height: 1.9vh;
border-radius: 100%;
}

.container-cards {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
align-items: stretch;
gap: 5vw;
height: auto;
}

.custom-alert {
position: fixed;
top: 20px;
right: 20px;
z-index: 9999;
padding: 15px 25px;
border-radius: 8px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
font-family: 'Montserrat', sans-serif;
font-size: 14px;
display: flex;
align-items: center;
justify-content: space-between;
max-width: 350px;
animation: fadeIn 0.5s ease-in-out;
}

.custom-alert.success {
background-color: #d4edda;
color: #155724;
border: 1px solid #c3e6cb;
}

.custom-alert.error {
background-color: #f8d7da;
color: #721c24;
border: 1px solid #f5c6cb;
}

.custom-alert .closebtn {
cursor: pointer;
font-size: 18px;
margin-left: 15px;
transition: color 0.3s ease;
}

.custom-alert .closebtn:hover {
color: #000;
}

.flex-botao-edition {
display: flex;
justify-content: flex-end;
width:100%;
padding-right: 1vw;
padding-top: 1vh;
}

.flex-botao-edition button {
border: none;
background-color: transparent;
color: white;
}

.flex-botao-edition button:hover {
background-color: transparent;
}



.mt-3 .rota-btn {
text-decoration: none;
color: #333;
padding: 0.2rem;
border-radius: 4px;
transition: background-color 0.3s ease;
width: 100%;
}

.rota-btn:hover {
background-color: #FFA500;
}


.close-btn {
position: absolute;
top: 0vh;
right: .2vw;
font-size: 1rem;
color: #888;
cursor: pointer;
text-decoration: none;
}
.btn-popover svg{
color: black;
}

.custom-popover .close-btn:hover {
color: black;
}

.form-floating{
width:100%;
}
.modal-header h5{
background: linear-gradient(90deg, #8A2BE2, #FFA500 );
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
width: 100%;
font-weight: bold;
font-family: "Bebas Neue", sans-serif;
text-transform: uppercase;
font-size: 1.8rem;
text-decoration: none;
}
    
.modal-header h1 {
background: linear-gradient(90deg, #8A2BE2, #FFA500 );
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
width: 100%;
font-weight: bold;
font-family: "Bebas Neue", sans-serif;
text-transform: uppercase;
font-size: 1.8rem !important;
text-decoration: none;
}
#btnImprimir{
    margin-right: 2vw;
    background-color: white
}

.modal-header {
    background-color: black;
}


.botao-proxima-etapa {
background: linear-gradient(90deg,#8A2BE2, #FFA500);
border-radius: .5vw;
color: white;
cursor: pointer;
text-decoration: none;
text-align: center;
border: none;
}

.modal-header .btn-close {
background-color: #FFA500 !important;
}

.form-example {
color: gray
}

.btn-step-primary {
color: white !important;
text-decoration: none;
cursor: pointer;
background: linear-gradient(90deg,#8A2BE2, #FFA500);
border-radius: .5vw;
width: fit-content;
border: none !important;
}



.btn-step-secundario {
background: black;
border-radius: .5vw;
border: 1px solid white !important;
color: white !important;
text-decoration: none;
width: fit-content
}

.btn-step-secundario:hover {
border: 1px solid white;
color: white !important;
background: black !important;
}

.form-example label {
color: #FFA500;
}

.form-example p {
color: white;
}

.modal-onda-header {
width: 100%;
height: 5vh;
background-color: white;
position: relative;
}

.modal-onda-header:after {
content: "";
position: absolute;
top: -.5px !important;
right: 0;
width: 10%;
height: 5vh;
background-color: white;
border-top-right-radius: 10vw;
}

.modal-onda-header:before {
position: absolute;
content: "";
top: -.5px !important;
right: 0;
width: 10%;
height: 5vh;
background-color: black;
}

.modal-footer {
background-color: white !important;
display: flex;
justify-content: flex-start;
align-items: center;
}
.pagination .page-item.active .page-link,
.pagination .page-link:hover,
.pagination .page-link:focus {
    background-color: black;
    color: white;
    border-color: black;
}

.pagination .page-link {
    color: #8A2BE2;

}

.pagination .page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    opacity: 0.6;
}
.flex-onda.coordenador {
    background-color: #FFA500;
}
.flex-onda.coordenador::after {
    background-color: #FFA500;
}
.body-card.coordenador {
    background-color: #FFA500;
}
.body-card.coordenador p {
    color: #fafafa;
    font-weight:500;
}
.body-card.coordenador .card-dado {
    color: black;
}


@keyframes fadeIn {
    from {
opacity: 0;
transform: translateY(-20px);
}

to {
opacity: 1;
transform: translateY(0);
}
}
/* Animação de fade out */
@keyframes fadeOut {
from {
opacity: 1;
transform: translateY(0);
}

to {
opacity: 0;
transform: translateY(-20px);
}
}

@media (max-width: 999px) {
.flex-input-group, .flex-input-two {
display: flex !important;
flex-direction: column !important;
}

.botao-adicionar, .btn-filtrar {
width: 100% !important;
border-radius: 1vw !important;
}

.filtro h1:before {
width: 20%;
}
.flex-titulo-card-funcionarios {
flex-direction:column;
justify-content: flex-start;
align-items:flex-start;  
}
.titulo-categoria{
font-size:1.5rem !important;
}
.status {
color: black;
font-weight: normal;
font-family: "Montserrat";
font-size: 1rem;
}

.status-green {
background-color: green;
width: 3.5vw;
height: 1.9vh;
border-radius: 100%;
}

.status-red {
background-color: red;
width: 3.5vw;
height: 1.9vh;
border-radius: 100%;
}
.flex-input-group, .flex-input-two {
display: flex !important;
flex-direction: column !important;
}

.botao-adicionar, .btn-filtrar {
width: 100% !important;
border-radius: 1vw !important;
}

.filtro h1:before {
width: 20%;
}

}
@media (max-width:800px){
.card-funcionario{
width: 95%;
}
.flex-body-funcionarios, .container-cards {
gap: 10vw !important;
}

}

#modalMoverFuncionario {
font-family: "Montserrat", sans-serif;
}

#modalDesativarFuncionario {
font-family: "Montserrat", sans-serif;
}

#modalReativarFuncionario {
font-family: "Montserrat", sans-serif;
}

#btnImprimir{
margin-left: 50px;
}

