@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link href="~/css/Componentes/Paragrafo-Primario/ParagrafoPrimario.css" rel="stylesheet" />

@{
    string texto = ViewData["Texto"]?.ToString() ?? "Paragrafo Primário";
    string classeExtra = ViewData["ClasseExtra"]?.ToString() ?? "";
}
<p class="paragrafo-primario @classeExtra">@Html.Raw(texto)</p>